{{#each rows}}
<div class="card">
  <div class="card-body">
    <p class="card-text">
      First Name = {{this.firstname}} <br>
      Last Name = {{this.lastname}} <br>
      Phone = {{this.phone}} <br>
      Email = {{this.email}} <br>
      Status = {{this.status}} <br>
      Comments = {{this.comment}} <br>
    </p>
  </div>
</div>
{{/each}}